<!DOCTYPE html>
<html>
  <head>
    <title>InstaClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <span class="navbar-brand"><%= link_to 'InstaClone', root_path, class: "navbar-brand "%></span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
            <li class="nav-item active">
              <span class="nav-link"><%= link_to 'Home', root_path, class: "nav-link" %></span>
            </li>
            <li class="nav-item">
              <span class="nav-link"><%= link_to 'New post', new_user_post_path(@user), class: "nav-link" %></span>
            </li>
            <li class="nav-item">
              <span class="nav-link"><%= link_to 'Link_2', root_path, class: "nav-link" %></span>
            </li>
            <li class="nav-item">
              <span class="nav-link">
                  <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: "nav-link" %>
               </span>
                <% else %>
              <span class="nav-link">
                  <%= link_to 'Log in', new_user_session_path, class: "nav-link" %>
              </span>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">
      <div class="row">

        <div class="col-lg-8">
          <%= yield %>
        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">
          <!-- Categories Widget -->
          <div class="card my-4">
            <h5 class="card-header">Categories</h5>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-6">
                  <ul class="list-unstyled mb-0">
                    <li>
                      <span><%= link_to 'Link', root_path %></span>
                    </li>
                    <li>
                      <span><%= link_to 'Link', root_path %></span>
                    </li>
                    <li>
                      <span><%= link_to 'Link', root_path %></span>
                    </li>
                  </ul>
                </div>
                <div class="col-lg-6">
                  <ul class="list-unstyled mb-0">
                    <li>
                      <span><%= link_to 'Link', root_path %></span>
                    </li>
                    <li>
                      <span><%= link_to 'Link', root_path %></span>
                    </li>
                    <li>
                      <span><%= link_to 'Link', root_path %></span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->
    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; NickS</p>
      </div>
      <!-- /.container -->
    </footer>
  </body>
</html>
